<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>23kHz Project</title>
    <link rel="stylesheet" href="{{ url_for('static',
				 filename='simple.min.css')}}">
</head>
<body>
  {% block body %}
  {% endblock %}
  <footer>
    23khz is a Babka project. <a href="{{ url_for('credits') }}">Credits</a>
  </footer>
  
</body>
</html>
