{% extends "base.html" %}

{% block body %}
<h1>How does it work?</h1>

<p>
  The Internet is full of dog whistles, hateful or bigoted messages
  that appear harmless to many, but which carry hidden meaning meant
  either to signal to others who believe the same, or to use
  deliberately misleading or confusing language in order to convince
  people to join them in the hate, sometimes unknowingly.
</p>

<p>
  23khz is a tool to help people reporting hate on the Internet have
  an easier time reporting hate by being able to identify and point to
  specific dog whistles without the reporter needing to explain them
  each time.
</p>

<p>
  To use the site, simply select the various dog whistles from
  the <a href="{{ url_for("index") }}">main page</a> and click
  "Generate Report".
</p>

<p>
  From there, a report is generated. You can share this URL with
  anyone, and it will remember the various categories of dog whistle
  that you selected. You can paste this report into any sort of report
  that accepts then, and the reviewer can see exactly which dog whistles
  applies to your report.
</p>

<h4>What are all the dog whistles?</h4>

<p>You can see a full list of all dog whistles <a href=" {{ url_for('all') }}">here</a>.

<h4>Why is it called 23khz?</h4>

<p>
  23khz is the lowest frequency for a physical dog whistle, just above
  human hearing. The 23khz project aims to make online hate dog
  whistles audible to everyone by hilighting and explaining them.
</p>

<h4>Who makes this?</h4>

<p>
  23khz is part of Babka, an online space for Jews and allies. We make
  Babka free to use for everyone. Learn more about Babka at
  our <a href="https://blog.babka.social">blog</a>.
</p>

<h4><a href="{{ url_for("index") }}">Return to Main Page</a></h4>

{% endblock %}
