{% extends "base.html" %}

{% block body %}

<h1>23kHz Project - Make Dog Whistles Audible</h1>
<blockquote>23kkHz is the lowest frequency of dog whistle. This website aims to make online hate speech dog whistles more understandable by helping users report them with explanations.</blockquote>

<p>
    Not sure what to do?
    <a href="{{ url_for('help_page') }}">Get Help</a> or <a href="{{ url_for('all') }}">All Dog Whistles</a>
</p>

<h2>Select the applicable categories</h2>

<form method="get" action="/report">
  {% for category in categories %}
  <h3>{{ category.form }}</h3>
  {% for reason in category.reasons.values() %}
  <p>
    <label for="{{ reason.key }}">
      <input type="checkbox" id="{{ category.key }}.{{ reason.key }}" name="r"
	     value="{{ category.key }}.{{ reason.key }}" />
      {{ reason.form }}
    </label>
  </p>
  {% endfor %}
  {% endfor %}
  <button type="submit">Generate Report</button>
</form>

{% endblock %}
