{% extends "base.html" %}

{% block body %}
<h1>Your Report</h1>
<p>
  This report contains all the identified categories of hate messages and dog whistles. You may share this report by copying and pasting the URL in your browser.
</p>

{% for category in categories %}

<h2>{{ category.form }}</h2>

<div>
  {% for reason in category.reasons.values() %}
  <h3>{{ reason.form }}</h3>
  <p>{{ reason.explanation }}</p>
  <details>
    <summary>See More</summary>
    {{ reason.more or ''|markdown }}
  </details>
  {% endfor %}
</div>

{% endfor %}

{% endblock %}
  
